.clearfix {
  background-color: #f7f7f7;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.calendar {
  width: 15px;
  height: 14px;
}

/* @media screen and (min-width:900px){ */
  .news-size{
    height:180px !important;
  }
/* } */

@media screen and (min-width:768px) and (max-width:1023px){
  .news-size{
    height:260px !important;
  }
  
}

.news-item p{
  max-height: unset !important;
}