.teacher-page-profile-edit img {
  width: 100px !important;
  height: 103px !important;
}
@media screen and (max-width: 400px)
{
  .date-dropdown-select[data-v-67d74744]{
    padding:unset;
    height:45px;
    margin:3px 0px;

  }
 .date-dropdown-container[data-v-67d74744] {
    display:block;
    
  }
}
.nrc-edit .nrc-pic{
  width:90% !important;
}