.signup-teacher img {
  width: 100px !important;
  height: 103px !important;
}
.nrc-signup .nrc-pic {
  width: 90% !important;
  height: 103px !important;
}
.disable {
  cursor: not-allowed !important;
  opacity: 0.5;
}
.form-check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #666;
  top: 7px;
  height: 12px !important;
  width: 12px !important;
  border: 1px solid slategray !important;
  background-color: white !important;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  padding: 0px 5px !important;
}
.form-check-input:checked::before {
  position: absolute;
  font: 12px/1 "Open Sans", sans-serif;
  left: 1.5px;
  top: 1.5px;
  content: "";
  background-color: #0e7fe1;
  border-radius: 50px;
  height: 7.5px;
  width: 7.5px;
  transform: rotate(40deg);
}